<header>
    <div class="content-wrapper">
        <div class="float-left">
            <p class="site-title">
                <a href="~/">GiRello</a>
            </p>
        </div>
    </div>
</header>
<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Welcome to GiRello!</h1>
            </hgroup>
            <p>
                GiRello allows you to take actions on your Trello boards from your GitHub and Bitbucket commit messages.
            </p>
        </div>
    </section>
    <section class="content-wrapper main-content clear-fix">
        <h3>Set up GiRello:</h3>
        <ol class="round">
            <li class="one">
                <h5>Authorize</h5>
                <a href="#" data-bind="click: Authorize">Click here</a> to connect GiRello to your Trello account.
            </li>

            <li class="two">
                <h5>Enter git usernames</h5>
                Enter your usernames for the services you wish to use with GiRello so we can identify your commits.<br />
                <form data-bind="submit: saveAuth">
                    <input type="hidden" data-bind="value: authToken" />
                    <input data-bind="value: githubUser, myText: loaded" placeholder="Github Username" />
                    <input data-bind="value: bitbucketUser, myText: loaded" placeholder="Bitbucket Username" />
                    <button data-bind="jqButton: { enable: loaded }, click: saveAuth">Save</button>
                </form>
            </li>
            <li class="three">
                <h5>Generate Post URL</h5>
                Select the 
            </li>
        </ol>
    </section>
</div>
@section scripts{
    @Scripts.Render("~/bundles/knockout");
    @Scripts.Render("~/bundles/jqueryui");
    <script src="https://api.trello.com/1/client.js?key=c6163a4015c586e703e8ea98f94a89fa"></script>
    <script src="~/Scripts/index.js"></script>
}

